<div class="navbreak"></div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <%= render 'sidenav' %>
      </div><!--/span-->
      <div class="span9">
        <h3 style="color: #34495E"> Roster of Contractors </h3>
        <br>
    
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Focus</th>
      <th>Available?</th>
    </tr>
  </thead>
  <tbody>

<% @contractors.each do |contractor| %>
  <tr>
    <td><%= contractor.id %></td>
    <td><a href="/contractors/<%= contractor.id.to_s %>"><%= contractor.first_name %></a></td>
    <td><%= contractor.last_name %></td>
    <td><%= contractor.focus %></td>
    <td><%= contractor.is_available %></td>
  </tr>
<% end %>

  </tbody>
</table>

<hr>

<%= link_to 'Add Contractor', new_contractor_path %>

      </div>
    </div>
  </div>
</div>
